<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment=".env" />
          <remove segment="app" />
          <remove segment="scripts" />
          <remove segment="tests" />
          <add segment=".env" />
          <add segment="app" />
          <add segment="scripts" />
          <add segment="tests" />
        </hiddenSegments>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension=".py" />
          <remove fileExtension=".sql" />
          <remove fileExtension=".dump" />
          <remove fileExtension=".log" />
          <add fileExtension=".py" allowed="false" />
          <add fileExtension=".sql" allowed="false" />
          <add fileExtension=".dump" allowed="false" />
          <add fileExtension=".log" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
